# Tour de Python

In [1]:
str?

In [2]:
str.capitalize?bytes

SyntaxError: invalid syntax (4058501755.py, line 1)

In [3]:
str.capitalize?

str.capitalize makes the first character have upper case and the rest lower case.

In [4]:
str.capitalize(ines)

NameError: name 'ines' is not defined

In [5]:
Nombre = str("inés")

In [6]:
print(Nombre)

inés

In [7]:
str.capitalize(Nombre)

'Inés'

## Variables

**Asignación**, le decimos a la computadora que la variable x tiene *asignado* el valor 1.

In [8]:
x = 1

In [9]:
x

1

In [10]:
print(x)

1

**Asignación doble**

In [11]:
a, b = 3, 4
print("El valor de a es", a)
print("El valor de b es", b)

El valor de a es 3
El valor de b es 4

Los **tipos** de variables "básicos son los siguientes:

**Enteros**

In [12]:
x = 3
x

3

**Flotantes**

In [13]:
y = 3.5
y

3.5

**Booleanos**

In [14]:
a = True
a

True

In [15]:
x = 1.2e34
x

1.2e+34

In [16]:
x =1e-12 + 3.56e4j
x

(1e-12+35600j)

**Cadena de texto**

In [17]:
cadena = u"Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!"
cadena

'Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!'

In [18]:
texto = "Esto también es una cadena de texto, pero sin u al principio."
texto

'Esto también es una cadena de texto, pero sin u al principio.'

In [19]:
print(cadena)

Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!

In [20]:
print(texto)

Esto también es una cadena de texto, pero sin u al principio.

**Ejercicio:** Usa la ayuda en línea de Jupyter para investigar cómo...
- Capitalizar la cadena.
- Convertirla a minúsculas.
- Convertirla a mayúsculas.
- Eliminarle los espacios. 

Utiliza la cadena "Anita lava la tina".

In [21]:
str.lower?

In [22]:
str.join?

In [23]:
str.upper?

In [24]:
str.capitalize?

In [27]:
str.lstrip?

Resolviendo el ejercicio...

In [117]:
texto2 = "anita lava la tina"
texto2Ma = str.upper(texto2)
texto2Mi = str.lower(texto2)
texto2Cap = str.capitalize(texto2)
texto2NoEsp = texto2.replace(" ","")

print("Texto original: ", texto2,"\nTexto en mayúsculas: ", texto2Ma, "\nTexto en minúsculas: ", texto2Mi, "\nTexto con la primera letra mayúscula: ", texto2Cap, "\nTexto sin espacios: ", texto2NoEsp)

Texto original:  anita lava la tina
Texto en mayúsculas:  ANITA LAVA LA TINA
Texto en minúsculas:  anita lava la tina
Texto con la primera letra mayúscula:  Anita lava la tina
Texto sin espacios:  anitalavalatina

In [28]:
texto2NoEsp = str.lstrip(texto2, chars=None)
texto2NoEsp

TypeError: str.lstrip() takes no keyword arguments

In [115]:
print(texto2.replace(" ","")) #Quitar los espacios en blanco

anitalavalatina

## Operaciones

In [30]:
x = 3
y = 2

### Suma y resta

In [31]:
x + y

5

In [32]:
x - y

1

### Multiplicación y división

In [33]:
x*y

6

In [34]:
x/y

1.5

### Potencia y residuo

In [35]:
x**y

9

In [36]:
y%x

2

**Ejercicio:** Repite las operaciones, pero ahora usa el siguiente valor de y.

In [37]:
y =4.1

In [38]:
x + y

7.1

In [39]:
x - y

-1.0999999999999996

In [40]:
x * y #Problema del punto flotante...

12.299999999999999

In [41]:
x/y

0.7317073170731708

In [42]:
x%y

3.0

In [43]:
x**y

90.40597709674623

In [44]:
print("El tipo de variable que obtenemos es", type(x**y))

El tipo de variable que obtenemos es <class 'float'>

**Ejercicio:** Repite las operaciones, pero ahora usa el siguiente valor de y.

In [45]:
y = 4 + 3j

In [46]:
x*y

(12+9j)

In [47]:
x/y

(0.48-0.36j)

In [48]:
x-y

(-1-3j)

In [49]:
x+y

(7+3j)

In [50]:
x**y

(-80.03836209851747-12.44429960209101j)

In [51]:
y**x

(-44+117j)

In [52]:
x%y

TypeError: can't mod complex numbers.

In [53]:
y%x

TypeError: can't mod complex numbers.

In [56]:
print("Lo que sucede es que el al sumar un número complejo ", y, " con un número real ", x, ", o hacer cualquier tipo de operación, el número real se convierte en complejo.\nDe modo que el resultado es un número complejo ", type(x+y))

Lo que sucede es que el al sumar un número complejo  (4+3j)  con un número real  3 , o hacer cualquier tipo de operación, el número real se convierte en complejo.
De modo que el resultado es un número complejo  <class 'complex'>

**Ejercicio:** ¿Qué pasa en lo siguiente?

In [57]:
a = 3
b = "Hola"

In [58]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
str(a) + b

'3Hola'

In [60]:
b + b #Junta las cadenas de texto

'HolaHola'

In [61]:
a * b #Imprime la cadena las veces del valor de a. Tiene que ser número entero.

'HolaHolaHola'

In [62]:
3.5*b

TypeError: can't multiply sequence by non-int of type 'float'

**Ejercicio:** ¿Qué puedes deducir de lo siguiente?

In [63]:
a, b, c = 1.0, 2.0, 3.0
print(a)
print(b)
print(c)

1.0
2.0
3.0

In [64]:
a + b/c

1.6666666666666665

In [65]:
(a+b)/c

1.0

De estos ejercicios se puede deducir que las operaciones con números de tipo flotante regresan resultados de tipo flotante.

## Modificadores de una variable

In [66]:
x = 0

In [67]:
x += 1

In [68]:
print(x)

1

In [69]:
x -= 2

In [70]:
print(x)

-1

In [71]:
x *= 3.14
print(x)

-3.14

In [72]:
x /= 5*a

In [73]:
print(x)

-0.628

In [118]:
print(a)

1.6439335666815615

In [119]:
n = int(input("Escribe un número: "))
if n%2 == 0:
    print(n, " es par.")
else:
    print(n, " es impar.")

Escribe un número: 3
3  es impar.

## Condicionales

In [75]:
if x > 3:
    print("Esto no se debería imprimir")
    print("Nota ques muy peligroso hacer esto con flotantes...")

In [76]:
x = 5

In [77]:
if x > 3:
    print("Esto sí debería imprimirse.")

Esto sí debería imprimirse.

In [78]:
x == 1

False

In [79]:
x > 1

True

In [80]:
x >= 1

True

In [81]:
x != 1

True

In [82]:
(x > 10) or (x <= 5)

True

In [83]:
(x > 10) & (x <= 5)

False

In [84]:
print(x)

5

In [85]:
if x >= 5 and x < 10:
    print(u"¡Hola!")
else:
    print(u"Nunca me verás")

¡Hola!

In [86]:
if x >= 5 & x < 10:
    print(u"¡Hola!")
else:
    print(u"Nunca me verás")

¡Hola!

## Bucles

Los bucles `for` en python utilizan *iteradores*:

In [87]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [88]:
for x in u"Hola, ¿cómo estás?":
    print(x)

H
o
l
a
,

¿
c
ó
m
o

e
s
t
á
s
?

In [90]:
i = 1 #Solo funciona "and", no "&"

while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [91]:
for i in range(1,34,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31

In [122]:
a = 0
for k in range(1,1000,1):
    a += (1/k)**2
print(a)

1.6439335666815615

In [123]:
sum([(1/k)**2 for k in range(1,1000,1)])

1.6439335666815615

## Estructuras de datos *built-in*

In [93]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [94]:
another_list = [1, 1.3, 4.5, 2+1j, [1,2]]
another_list

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [95]:
a_list[3]

4

In [96]:
another_list[3] #Muestra el elemento número tres de la lista, contando desde 0.

(2+1j)

In [97]:
another_list[4]

[1, 2]

In [98]:
a_list[-1] #Muestra el último elemento de la lista

5

In [99]:
a_list[-2] #Muestra un elemento anterior al último

4

In [100]:
a_list[1:] #Muestra los elementos a partir del 1

[2, 3, 4, 5]

In [101]:
a_list[2:4] #Muestra los elementos de la posición 2 a la 4, sin incluir la posición 4.

[3, 4]

In [102]:
a_list[:4] #Muestra todos los elementos antes de la posición 4.

[1, 2, 3, 4]

In [103]:
n = 5

In [104]:
a_list.append(n) #Agrega el elemento n al final de la lista
a_list

[1, 2, 3, 4, 5, 5]

In [106]:
a_list.pop() #Quita el último elemento de la lista

5

In [107]:
a_list

[1, 2, 3, 4, 5]

In [108]:
a_list.append(3)
a_list[1] = 3 #Cambia el elemento 1 por el valor 3
a_list.append(5)

In [109]:
a_list

[1, 3, 3, 4, 5, 3, 5]

In [110]:
a_list.remove(3)
a_list

[1, 3, 4, 5, 3, 5]

In [111]:
a_list.remove?

`<Nombre_lista>.remove(<valor_del_elemento>)` es un comando que elimina la primera posición cuyo valor coincida con el `<valor_del_elemento>`.

In [112]:
for element in a_list:
    print(element)

1
3
4
5
3
5

In [113]:
for r in range(5):
    print(r)

0
1
2
3
4

In [124]:
print(a_list.expand(another_list))

AttributeError: 'list' object has no attribute 'expand'

In [125]:
print(a_list.extend(another_list))

None

In [126]:
a_list.extend(another_list)

In [127]:
print(a_list)

[1, 3, 4, 5, 3, 5, 1, 1.3, 4.5, (2+1j), [1, 2], 1, 1.3, 4.5, (2+1j), [1, 2]]

In [128]:
a_list.pop()

[1, 2]

## Diccionarios

In [129]:
diccionario = {'a':1, 'b':2, 'coral':'amarillo'}
diccionario.keys()

dict_keys(['a', 'b', 'coral'])

In [130]:
diccionario['a']

1

In [133]:
diccionario['c'] = 3 #Agregar un elemento
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo', 'c': 3}

In [134]:
diccionario.pop('a')
diccionario

{'b': 2, 'coral': 'amarillo', 'c': 3}

In [135]:
[i for i in diccionario.values()]

[2, 'amarillo', 3]

## Funciones

In [140]:
%%file transformaciones.py
from math import sqrt, atan

def esfericas(x,y,z):
    """
    x, y, z se encuentran en...
    """
    r = sqrt(x**2 + y**2 + z**2)
    theta = atan(y/x)
    fi = sqrt(x**2 + y**2)/z
    return r, theta, fi

Writing transformaciones.py

In [138]:
esfericas?

In [139]:
r, theta, fi = esfericas(1,2,3)
print("La coordenada r es: ", r)
print("La coordenada theta es: ", theta)
print("La coordenada fi es: ", fi)

La coordenada r es:  3.7416573867739413
La coordenada theta es:  1.1071487177940904
La coordenada fi es:  0.7453559924999299